<div class="pageintro">
<h1>Eventbrite <em>Like</em></h1>
</div>
<div class="intro1">
<h1>Inscription en ligne d'un événement</h1>
<h4>Créez une page personnalisée pour votre événement pour en faire sa promotion, suivre la participation, vendre des billets et gérer les inscriptions.</h4>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Inscrivez-vous gratuitement</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <button type="submit" class="btn btn-primary">démarrer</button>
  </div>

  <!-- <%= link_to "Submit", class: "btn btn-primary" %> -->
  <p class="lil">En cliquant sur « Démarrer », je confirme que j'accepte les conditions d'utilisation, les règles de confidentialité, et la politique relative aux cookies d'Eventbrite. J'accepte également de recevoir des actualités et des offres de la part d'Eventbrite.</p>
<p class="lil">Déjà inscrit ?<a href="https://www.eventbrite.fr/l/registration-online-b/?ref=sem0brd0ggl0fr0ppca0eventbrite&kw=eventbrite%20ex&cr=200672957735&mkwid=sc9dahl2G_dc&pcrid=200672957735&pkw=eventbrite&pmt=e&plc=&_bk=eventbrite&_bt=200672957735&_bm=e&_bn=g&gclid=Cj0KCQjw5qrXBRC3ARIsAJq3bwrXbWhX1YQIMwW6FznRrn2wUiSMFtIMOx-Lw4zRjzjBIekCWsc6le0aAsVREALw_wcB"> Connexion</a></p>
</form>
</div>
