/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .pageintro h1{
   color: orange;
   padding: 15px;
 }
.intro1{
  height: 100vh;
  background-image: url(//eventbrite-s3.s3.amazonaws.com/marketing/landingpages/sem/SEM_landing_pages_4.jpg)
}
.intro1 h1,h4{
  text-align: center;
  color: #fff;
  font-weight: lighter;
}
.intro1 form{
  width: 50%;
  text-align: center;
  margin: 10px auto;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 4px;
}
.intro1 input{
  margin-bottom: 10px;
}
.intro1 form button{
  width: 100%;
  text-transform: uppercase;
}
.intro1 .lil{
  font-size: 10px;
  color: #BBB;
}
